PORT=5000
CLIENT_URL=http://localhost:5173
JWT_SECRET=$2b$12$MzrfGPqcmhyLdlwf7UA9JeY2RED0ZchADO4.eE6vxotGvY4jhxkBS
JWT_EXPIRES_IN=7d

ADMIN_NAME=LessTaxi Administrator
ADMIN_EMAIL=admin@lesstaxi.demo
ADMIN_PASSWORD=LessTaxi@417:;